<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet"href="/static/style.css">
    </head>
    <body>
        <h2>user login</h2>
        <form method="POST">
            <label>username:</label><br>
            <input type="text"name="username"required><br><br>
            <label>password:</label><br>
            <input type="password"name="password"required><br><br>
            <button type="submit">login</button>
        </form>
        <br>
        <a href="/register">Dont have an account? register </a>
    </body>
</html>