<!DOCTYPE html>
<html>
    <head>
        <title>register</title>
        <link rel="stylesheet"href="/static/style.css">
    </head>
    <body>
       <h2>registration</h2>
        <form method="POST">
            <label>username:</label><br>
            <input type="text"name="user name"required><br><br>
            <label>password:</label><br>
            <input type="password"name="password"required><br><br>
            <button type="submit">login</button> 
        </form>
        <br>
        <a href="/login">already have an account? login</a>    
    </body>
</html>